<div style="text-align:center">
  <!-- <h1>Parent Component </h1> -->
  <h1>Welcome To Angular</h1>
  <div class="routes">
    <a routerLink="/" >Home</a>
    <a routerLink="/employee">Employee component</a>
    <a routerLink="/item">Item Component</a>
    <a routerLink="/item_list">Item-list Component</a>
    <a routerLink="/student">Student Component</a>

  </div>
  <router-outlet></router-outlet>
  <!-- Value from Child Component: {{Cdata}}
<br/>
  Parent Component:  <input type="text" placeholder="Enter text" #Ptxt (keyup)="0"/> -->
  <!-- <app-student></app-student> -->
  <!-- <button (click)="login()"> Log In</button>
  <button (click)="logout()">Log Out</button>
  @if(isloggedin)
  {
    <div>USer Logged In!</div>
  }@else{
    <div>User Logged Out</div>
  }
  @if(age<=10){
    <div>Your Are Child</div>
  }@else if (age > 10 && age <= 40) {
    <div>You Are Young</div>
  }@else {
    <div>You Are Old</div>
  } -->
  <!-- @switch (name) {
    @case ("khan") {
      <div>HEllo Khan</div>
    }
    @case ("Mohan") {
      <div>HEllo Mohan</div>
    }
    @case ("Ram") {
      <div>HEllo Ram</div>
    }
    @case ("Asad") {
      <div>HEllo Asad</div>
    }
    @default {
      <div>No Such Name exist</div>
    }
  } -->
  <!-- @for (student of students; track student.id) {
    <ul>
      <li>{{student.id}} | {{student.name}}</li>
    </ul>
  }@empty {
    <div>No Data Found</div>
  } -->
  <!-- <app-item-list></app-item-list> -->
  <!-- <button>Add</button>   <button>Subtract</button>    <button>MUltiply</button>
  <app-employee></app-employee> -->

  <!-- <app-employee [pData]="Ptxt.value" (childevent)="getdata($event)"></app-employee> -->
  <!-- <button (click)="Login()">Login</button>
<button (click)="Logout()">Logout</button>
    @if(isLoggedIn){
      <div>USer Is logged in!!</div>
    }@else {
      <div>User Is Logged Out!!</div>
    } -->
  <!-- <input type="radio" name="red" checked (click)="onChange(true)">Male
    <input type="radio" name="red"   (click)="onChange(false)">Female
    @if(isvalid){
      <div>I am Male</div>
    }
    @if(!isvalid){
      <div>I am female</div>
    } -->
  <!-- @if(num1 > num2){
      <div>num1 is greater than num2</div>
    }@else if(num1 == num2){
      <div>num1 is equal to num2</div>
    }@else {
      <div>num1 is less than num2</div>
    } -->
  <!-- Enter Your name: <input type="text" placeholder="Enter Name" #txtN (keyup)="0"/>
    @switch(txtN.value){
      @case ('Ali') {
        <div>Hello Ali</div>
      }
      @case ('Ahmed') {
        <div>Hello Ahmed</div>
      }
      @case ('Ebbad') {
        <div>Hello Ebbad</div>
      }
      @default {
        <div>Sorry Your name is not registered</div>
      }
    } -->

  <!-- @for(emp of employees;track emp.id;let i = $index){
      <ul>
        
        <li>{{i}}|{{emp.id}} | {{emp.name}}</li>
      </ul>
    } -->
  <!-- <table border="1">
      <tr>
        <th>Sr No.</th>
        <th>Emp ID</th>
        <th>Emp Name</th>
        <th>No of items</th>
      </tr>
      @for(emp of employees;track emp.id; let i = $index,c=$count){
        <tr>
          <td>{{i+1}}</td>
          <td>{{emp.id}}</td>
          <td>{{emp.name}}</td>
          <td>{{c}}</td>
        </tr>
      }@empty {
        <tr>
          <td colspan="2">
            No Data Found
          </td>
        </tr>
      }
    </table> -->
  <!-- <div style="background-color: aqua;">Hello Angular!!</div>
    <div [ngStyle]="{'background-color': mycountry== 'Pakistan'?'yellow':'red'}">Hello ngStyle</div>
    @for (con of Country; track con.id) {
      <ul>
        <li  [ngStyle]="{'background-color':getcolour(con.country)}" >
          Name:{{con.name}} | Country:{{con.country}}
        </li>
      </ul>
    }
    <div [ngStyle]="{'font-size.px':30}">HEllo Font size</div>
    <div [ngStyle]="{'font-size.px':fontsize}">HEllo Font size</div> -->


  <!-- 1.Ng Class with string -->
  <!-- <div class="one"> Hello  Class</div>
    <div [ngClass]="'one three' ">Hello NgClass</div>
    2.Ng Class with array -->
  <!-- <div [ngClass]="['two','four']">Ng Class</div> -->
  <!-- 3.Ng Class with object -->
  <!-- <div [ngClass]="{'one':true,'three':false,'four':true}">Ng Class with Object</div> -->
  <!-- <div [ngClass]="{'two':mycountry=='Pakistan'}">Hello</div> -->
</div>