<div style="text-align:center">
  <h1>Parent Component </h1>
  <h1>Welcome To Angular</h1>
  
  Value from Child Component: {{Cdata}}
<br/>
  Parent Component:  <input type="text" placeholder="Enter text" #Ptxt (keyup)="0"/>
  <!-- <app-student></app-student> -->
  <!-- <button (click)="login()"> Log In</button>
  <button (click)="logout()">Log Out</button>
  @if(isloggedin)
  {
    <div>USer Logged In!</div>
  }@else{
    <div>User Logged Out</div>
  }
  @if(age<=10){
    <div>Your Are Child</div>
  }@else if (age > 10 && age <= 40) {
    <div>You Are Young</div>
  }@else {
    <div>You Are Old</div>
  } -->
  <!-- @switch (name) {
    @case ("khan") {
      <div>HEllo Khan</div>
    }
    @case ("Mohan") {
      <div>HEllo Mohan</div>
    }
    @case ("Ram") {
      <div>HEllo Ram</div>
    }
    @case ("Asad") {
      <div>HEllo Asad</div>
    }
    @default {
      <div>No Such Name exist</div>
    }
  } -->
  <!-- @for (student of students; track student.id) {
    <ul>
      <li>{{student.id}} | {{student.name}}</li>
    </ul>
  }@empty {
    <div>No Data Found</div>
  } -->
  <!-- <app-item-list></app-item-list> -->
  <!-- <button>Add</button>   <button>Subtract</button>    <button>MUltiply</button>
  <app-employee></app-employee> -->
  
<app-employee [pData]="Ptxt.value" (childevent)="getdata($event)"></app-employee>

  
</div>